.footer-left {
  background: #7B66FF;
  color: #fff;
}
.footer-heading {
  font-size: 32px;
}
.footer-pera {
  line-height: 36px;
  font-size: 20px;
}
.footer-right {
  background: #5FBDFF;
  color: #2b2929;
}
