.footer-left {
  background: #1f2937;
  color: #fff;
}
.footer-heading {
  font-size: 32px;
}
.footer-pera {
  line-height: 36px;
  font-size: 20px;
}
.footer-right {
  background: #111827;
  color: #fff;
}
